@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #010c15;
	color: #fff;
}

.swiper-slide {
	text-align: center;
	color: white;
	font-size: 24px;
}

.template-swiper > .swiper-wrapper {
	transition-timing-function: linear;
}
